# boilerplate
node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

# project specific
firebaseCredentials.js
*.csv
*.pdf
spreadsheetId_secret.json
SECRET_PASS.json


# macOS
.DS_Store
